.main-footer {
  padding: 60px 26px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  width: 100%;
  place-items: flex-start;
  font-family: "Karla", sans-serif;
  background-color: var(--light-gray);
}
.main-footer nav .footer-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  place-items: flex-start;
  width: 100%;
}

.main-footer nav .footer-list a {
  text-decoration: none;
  color: var(--gray-violet);
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-family: "Karla", sans-serif;
}

.main-footer nav .footer-list a:hover {
  color: var(--dark-violet);
}

.main-footer .social-links svg:hover path {
  fill: var(--dark-violet);
}
.main-footer .social-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
}
.main-footer .contact-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  color: var(--gray-violet);
  place-items: flex-start;
  width: 100%;
}
.main-footer .contact-info li {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 30px;
}
.main-footer .contact-info li::before {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
}
.main-footer .contact-info li.location::before {
  content: url(../../images/svg/icon-location.svg);
}
.main-footer .contact-info li.phone-number::before {
  content: url(../../images/svg/icon-phone.svg);
}
.main-footer .contact-info li.email::before {
  content: url(../../images/svg/icon-email.svg);
}
.main-footer .social-links li:not(:last-child) {
  margin-right: 30px;
}

.main-footer nav {
  width: 100%;
}

.main-footer .nav-logo {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 5px;
}
.main-footer .nav-logo::after {
  content: url(../../images/app-logo.png);
  order: -1;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .main-footer {
    grid-template-columns: 320px 200px 150px;
    justify-content: space-between;
  }
  .main-footer .footer-list,
  .main-footer .social-links {
    margin-top: 116px;
  }
  .main-footer nav ul a:hover {
    color: var(--primary-violet);
  }
}
@media screen and (min-width: 1024px) {
  .main-footer {
    padding: 88px 165px;
  }
}
