.nav-bar {
  font-family: "Karla", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding: 24px 26px;
  min-width: 360px;
  z-index: 20;
}
.nav-bar .nav-logo {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 5px;
}
.nav-bar .nav-logo::after {
  content: url(../../images/png/app-logo.png);
  order: -1;
  margin-bottom: 5px;
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 120px;
  background-color: var(--dark-violet);
  font-size: 14px;
  font-weight: 700;
  height: calc(100vh - 120px);
  padding: 34px 24px;
  min-width: 360px;
  z-index: 70;
  left: 100%;
  background-image: url(../../images/svg/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 35%;
  transition: left 0.5s;
}
.nav-bar li {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
}
.nav-bar li:not(:last-child) {
  margin-bottom: 20px;
}
.nav-bar ul.menu-hidden {
  left: 100%;
}
.nav-bar ul.menu-active {
  left: 0;
}

.nav-bar ul a {
  width: 100%;
  text-align: center;
  font-family: "Karla", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: var(--light-gray);
  text-decoration: none;
}
.nav-bar a.active {
  border: 1px solid var(--light-gray);
  padding: 14px 30px 9px;
}
.nav-bar button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav-bar button.close::after {
  content: url("../../images/svg/icon-hamburger.svg");
}
.nav-bar button.open::after {
  content: url("../../images/svg/icon-close.svg");
}

@media screen and (min-width: 768px) {
  .nav-bar ul {
    flex-direction: row;
    position: static;
    height: auto;
    padding: 0;
    background-color: transparent;
    width: auto;
    transition: none;
    background-image: none;
  }
  .nav-bar ul.menu-hidden {
    display: flex;
    left: 100%;
  }
  .nav-bar li {
    padding: 0;
  }
  .nav-bar li:first-child {
    display: none;
  }
  .nav-bar li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 27px;
  }
  .nav-bar ul a {
    color: var(--gray-violet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    width: auto;
    padding: 14px 0 9px;
    border-radius: 40px;
  }
  .nav-bar ul a:hover {
    color: var(--dark-violet);
  }
  .nav-bar ul a::after {
    content: "";
    display: inline-block;
    width: 100%;
    background-color: var(--primary-violet);
    height: 2px;
    width: 100%;
    margin-top: 3px;
    transform: scale(0);
    transition: all 0.4s;
  }

  .nav-bar ul a.active {
    border: none;
    color: var(--light-gray);
    background-color: var(--primary-violet);
  }
  .nav-bar button {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    padding: 21px 165px;
  }
  .nav-bar li:not(:last-child) {
    margin-right: 27px;
  }
  .nav-bar ul a {
    padding: 14px 30px 9px;
  }
  .nav-bar ul a:hover::after {
    transform: scale(1);
  }
}
